* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    height: 100px;
}

main img {
    margin: 30px;
    border-left: 10px dotted black;
}

main{
    text-align: center;
}

main p{
    text-align: left;
    border: 1px solid black;
    font-size: 23px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

}

footer{
    background-color: black;
    padding: 10px;
}

footer p{
    color: black;
    background-color: white;
    margin: 10px;
    padding: 7px;
}

a{
    color: black;
    margin: 10px;
    font-size: 25px;
}

nav{
    padding: 20px;
}
